h1{
    background-color:blue;
    font-size: 50px;
    font-family: monospace;
    color: white;
}

.black{
    color: black
}

body{
    background-color:orange;
    font-family: monospace;
    font-size: 15px;
    color:darkslategrey;
    margin: 100px;
    background-image:url("https://image.freepik.com/free-photo/abstract-blue-orange-watercolor-background-art-hand-paint_67785-34.jpg")
}

h2{
    background-color:orangered;
    font-family: monospace;
    font-size: 30px;
    color: white;
}
h3{
    background-color:rgb(240, 116, 71);
    font-family: monospace;
    font-size: 20px;
    color: white
    
}

.center{
    text-align: center;
}